

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    color:black;
    font: italic normal 1.4em georgia, sans-serif;
    text-align: center;

  }

html {
    scroll-behavior: smooth;
}

  ul.menu {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  .title-box {
    display: inline-block;
    justify-content: center;
    max-width: 20em;
    padding: 2em 0.5em;
    margin: 1rem 0 0 1rem;

    color: #fff;
    background-color: grey;
    border: solid 2px #fff;

  }

  .break {
    display: block;
    opacity: 0;
  }


  #outer-dropzone {
    height: 140px;
  }

  #inner-dropzone {
    height: 100px;
  }

  .drop-height {
    height: 40%
  }

  .fakedropzone {
    background-color: white;
    border-radius: 15px;
    height: 600px;
    margin: auto ;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s;
    display: inline-block;
  }
  .dropzone {
    margin-left: -10px;
    margin-right: -10px;
  }

  .dropzone.smallerbox {
      background-color: #bfe4ff;
      border-radius: 15px;
      height: 500px;
      margin: auto ;
      padding: 10px;
      width: 100%;
      transition: background-color 0.3s;
      display: inline-block;
    background-color: #bfe4ff;
    border-radius: 0px;
    height: 100%;
    width: 5%;
    transition: background-color 0.3s;
    padding: 0px;
  }


  .drop-active {
    border-color: black;
  }



  .drop-target.line {
    background-color: lightblue;
    border-color: #fff;
    border-style: solid;
  }


  .drag-drop {
    border-radius: 50%;
      margin-top:100px;
      margin-left:-65px;
    display: inline-block;
    height: 7.5em;
    width: 7.5em;
    position: absolute;
    color: #fff;
    background-color: #29e;
    border: solid 2px black;

    touch-action: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);

    transition: background-color 0.3s;
  }



  .drag-drop.can-drop {
    background-color: lightblue;
    height: 3.75em;
    width: 3.75em;    
  }

  .drag-drop.can-drop p{
    font-size: 70%;
  }
.drag-drop.can-drop.dropzoneContainer {
    color: black;
    background-color: lightblue;
    height: 3.75em;
    width: 3.75em;
    
}
  .drag-drop.can-drop.one {
    color: black;
    background-color: #008000;
  }
  .drag-drop.can-drop.two {
    color: black;
    background-color: #2d8e00;
  }
  .drag-drop.can-drop.three {
    color: black;
    background-color: #499d00;
  }
  .drag-drop.can-drop.four {
      color: black;
    background-color: #62ab00;
  }
  .drag-drop.can-drop.five {
      color: black;
    background-color: #7bba00;
  }
  .drag-drop.can-drop.six {
      color: black;
    background-color: #94c800;
  }
  .drag-drop.can-drop.seven {
      color: black;
    background-color: #add600;
  }
.drag-drop.can-drop.eight {
    color: black;
    background-color: #c8e400;
  }
  .drag-drop.can-drop.nine {
      color: black;
    background-color: #e3f200;
 }
  .drag-drop.can-drop.ten {
      color: black;
    background-color: #ffff00;
  }
  .drag-drop.can-drop.eleven {
       color: black;
       background-color: #ffed00;
  }
.drag-drop.can-drop.twelve {
    color: black;
    background-color: #ffda00;
}
.drag-drop.can-drop.thirteen {
    color: black;
    background-color: #ffc700;
}
.drag-drop.can-drop.fourteen {
    color: black;
    background-color: #ffb300;
}
.drag-drop.can-drop.fifteen {
    color: black;
    background-color: #ff9f00;
}
.drag-drop.can-drop.sixteen {
    color: black;
    background-color: #ff8a00;
}
.drag-drop.can-drop.seventeen {
    color: black;
    background-color: #ff7300;
}
.drag-drop.can-drop.eighteen {
    color: black;
    background-color: #ff5b00;
}
.drag-drop.can-drop.nineteen {
    color: black;
    background-color: #ff3d00;
}
.drag-drop.can-drop.twenty {
    color: black;
    background-color: #ff0000;
}

  #xline {
    position: relative;
    left: 0;
    top: 5%;
    width: 95.65%;
    margin: 0;
    height: 0.25em;
    background-color: black;
    border-color: black;
    background: linear-gradient(to right, green, yellow, red);
    margin-left: 0px;
    margin-right: 0px;
}

.xtag {
  text-align: center;
}

.xtag > * {
  display: inline-block;
  width: 200px;
}

.top-buffer {
  margin-top: 15%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 4%;
  width:80%;
}

.axis-buffer {
  margin-top: 1.25%;
}
.average-square {
    top: 1.25em;
    height: 3.25em;
    width: 100%;
    border: solid 2px black;
    text-align: center;
    vertical-align: middle;
    opacity: 0;

}

.medical-square {
  top: 1.25em;
  height: 3.25em;
  width: 100%;
  border: solid 2px black;
  text-align: center;
  vertical-align: middle;
  opacity: 0;

}


.activity-description-before {
    font-size:20px;
    top:80%;
    position:absolute;
    float:left;
    margin-left:15%;
    width:20%;
    height:20%;
}
.activity-description-compare {
    font-size:20px;
    top:72%;
    font-weight: bold;
    position:absolute;
    float:left;
    margin-left:40%;
    width:22.5%;
    height:20%;
}

#risk-description {
    font-size:20px;
    top:80%;
    position:absolute;
    float:left;
    margin-left:25%;
    width:55%;
    height:20%;
}

.one {
  color: black;
  background-color: #008000;
}
.two {
  color: black;
  background-color: #2d8e00;
}
.three {
  color: black;
  background-color: #499d00;
}
.four {
    color: black;
  background-color: #62ab00;
}
.five {
    color: black;
  background-color: #7bba00;
}
.six {
    color: black;
  background-color: #94c800;
}
.seven {
    color: black;
  background-color: #add600;
}
.eight {
  color: black;
  background-color: #c8e400;
}
.nine {
    color: black;
  background-color: #e3f200;
}
.ten {
    color: black;
  background-color: #ffff00;
}
.eleven {
     color: black;
     background-color: #ffed00;
}
.twelve {
  color: black;
  background-color: #ffda00;
}
.thirteen {
  color: black;
  background-color: #ffc700;
}
.fourteen {
  color: black;
  background-color: #ffb300;
}
.fifteen {
  color: black;
  background-color: #ff9f00;
}
.sixteen {
  color: black;
  background-color: #ff8a00;
}
.seventeen {
  color: black;
  background-color: #ff7300;
}
.eighteen {
  color: black;
  background-color: #ff5b00;
}
.nineteen {
  color: black;
  background-color: #ff3d00;
}
.twenty {
  color: black;
  background-color: #ff0000;
}
/* Arrow & Hover Animation */
#more-arrows {
    width: 75px;
    height: 65px;

&:hover {
polygon {
    fill: #FFF;
    transition: all .2s ease-out;

&.arrow-bottom {
     transform: translateY(-18px);
 }

&.arrow-top {
     transform: translateY(18px);
 }

}

}

}

polygon {
    fill: #FFF;
    transition: all .2s ease-out;

&.arrow-middle {
     opacity: 0.75;
 }

&.arrow-top {
     opacity: 0.5
 }

}
