

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    color:black;
    font: italic normal 1.4em georgia, sans-serif;
    text-align: center;
    
  }

  ul.menu {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  .title-box {
    display: inline-block;
    justify-content: center;
    max-width: 20em;
    padding: 2em 0.5em;
    margin: 1rem 0 0 1rem;
  
    color: #fff;
    background-color: grey;
    border: solid 2px #fff;

  }
 
  .break {
    display: block;
    opacity: 0;
  }
  

  #outer-dropzone {
    height: 140px;
  }
  
  #inner-dropzone {
    height: 100px;
  }

  .drop-height {
    height: 40%
  }
  
  .fakedropzone {
    background-color: white;
    border: dashed 4px transparent;
    border-radius: 15px;
    height: 500px;
    margin: auto ;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s;
    display: inline-block;
  }
  .dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 15px;
    height: 500px;
    margin: auto ;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s;
    display: inline-block;
  }
  
  .dropzone.smallerbox {
    background-color: #bfe4ff;
    border-radius: 0px;
    height: 100%;
    width: 20%;
    transition: background-color 0.3s;
    display: -webkit-flex; 
    padding: 0px;
  }

  .drop-active {
    border-color: black;
  }
  
  .drop-target.low-risk {
    background-color: rgb(89, 218, 4);
    border-color: #fff;
    border-style: solid;
  }

  .drop-target.medium-risk {
    background-color: rgb(255, 123, 0);
    border-color: #fff;
    border-style: solid;
  }

  .drop-target.high-risk {
    background-color: rgb(255, 0, 0);
    border-color: #fff;
    border-style: solid;
  }

  .drop-target.line {
    background-color: lightblue;
    border-color: #fff;
    border-style: solid;
  }

  
  
  .drag-drop {
    top: 2.5em;
    border-radius: 50%;
    display: inline-block;
    height: 7.5em;
    width: 7.5em;
    line-height: 7.5em;
    
    
    position: relative;
    color: #fff;
    background-color: #29e;
    border: solid 2px black;
    
    touch-action: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
  }


  
  .drag-drop.can-drop {
    color: #000;
    background-color: lightblue;
    height: 3.75em;
    width: 3.75em;
    line-height: 3.25em;
  }
  .low-risk {
    color: #000;
    background-color:lightgreen;
  }
  .medium-risk {
    color: #000;
    background-color:orange;
  }
  .high-risk {
    color: #000;
    background-color:orangered;
  }

  .buckets {

    display: grid;
    grid-auto-flow: column;
    gap: 7em;
    align-items: center;
    justify-items: center;

    /*
    padding: 5em;
    padding-left: 20em;
    padding-right: 20em;
    */
  }

  #xline {
    position: relative;
    left: 0;
    top: 70%;
    width: 100%;
    margin: 0;
    height: 0.25em;
    background-color: black;
    border-color: black;
    margin-top: 22.5%;
    background: linear-gradient(to right, green, yellow, red);
    margin-left: 1.25%;
    margin-right: 1.25%;
}

.xtag {
  text-align: center;
}

.xtag > * {
  display: inline-block;
  width: 200px;
}

.top-buffer { 
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  width: 80%;
}

.axis-buffer {
  margin-top: 1.25%;
}

