{% extends "template.html" %}
{% block content %}

<section id="banner">
    <div class="inner">
        <h2>Ball Dropper</h2>
        <p>Description of how it Works 1</p>
        <p>Description of how it Works 2</p>
        <p>Description of how it Works 3</p>
        <p>Description of how it Works 4</p>

        <ul class="actions">
            <li><a href="#content" class="button big special">Sign Up</a></li>
            <li><a href="#elements" class="button big alt">Learn More</a></li>
        </ul>

        <li><a href="#elements" class="button big alt">Learn More</a></li>
        <li><a href="/#about-section" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a></li>

    </div>
</section>


<div id="about-section" class="dropper-wrapper">
    <div class="container">
        <div class="row" style="height: 7.5em">
            <div class="col">
                <div id="yes-drop" class="drag-drop"
                     onmouseover="moreinfo('Training at the Gym and sharing equipment with other members. There is no guarantee everything has been wiped down properly')"
                     onmouseout="normalinfo(this)"> Gym
                </div>
            </div>
            <div class="col">
                <div id="yes-drop" class="drag-drop"
                     onmouseover="moreinfo('Going for a walk in a city centre but avoiding busy spaces')"
                     onmouseout="normalinfo(this)"> Walk
                </div>
            </div>
            <div class="col">
                <div id="yes-drop" class="drag-drop"
                     onmouseover="moreinfo('Attending church with multiple households and singing hymns')"
                     onmouseout="normalinfo(this)"> Church
                </div>
            </div>
            <div class="col">
                <div id="yes-drop" class="drag-drop"
                     onmouseover="moreinfo('Visiting another household with no social distancing')"
                     onmouseout="normalinfo(this)"> Visit
                </div>
            </div>
            <div id="mytextarea" class="col">
            </div>


        </div>
    </div>
</div>
    <div class="top-buffer">
        <div class="fakedropzone">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h3>Risk scale</h3>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-info compare-button" style="float:right">Compare Answers
                    </button>
                </div>
            </div>
            <div id="dropzoneContainer" style="height:75%" class="row dropzone">
                <div id="one" class="dropzone smallerbox"></div>
                <div id="two" class="dropzone smallerbox"></div>
                <div id="three" class="dropzone smallerbox"></div>
                <div id="four" class="dropzone smallerbox"></div>
                <div id="five" class="dropzone smallerbox"></div>
                <div id="six" class="dropzone smallerbox"></div>
                <div id="seven" class="dropzone smallerbox"></div>
                <div id="eight" class="dropzone smallerbox"></div>
                <div id="nine" class="dropzone smallerbox"></div>
                <div id="ten" class="dropzone smallerbox"></div>
                <div id="eleven" class="dropzone smallerbox"></div>
                <div id="twelve" class="dropzone smallerbox"></div>
                <div id="thirteen" class="dropzone smallerbox"></div>
                <div id="fourteen" class="dropzone smallerbox"></div>
                <div id="fifteen" class="dropzone smallerbox"></div>
                <div id="sixteen" class="dropzone smallerbox"></div>
                <div id="seventeen" class="dropzone smallerbox"></div>
                <div id="eighteen" class="dropzone smallerbox"></div>
                <div id="nineteen" class="dropzone smallerbox"></div>
                <div id="twenty" class="dropzone smallerbox"></div>
            </div>
            <div class="row">
                <hr id="xline">
            </div>
            <div class="row axis-buffer">
                <div class="col-md-2">Low Risk</div>
                <div class="col-md-2 ml-auto">Medium Risk</div>
                <div class="col-md-2 ml-auto">High Risk</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
