<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <header>
  </header>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="jumbotron text-center">
      <h1>How Risky are these Activities?</h1>
      <p>Hover over each one blah blah blah</p>
    </div>
    
    <div class="container">
      <div class="row" style="height: 7.5em">
        <div class="col">
          <div id="yes-drop" class="drag-drop"> Gym</div>
        </div>
        <div class="col">
          <div id="yes-drop" class="drag-drop"> Walk</div>
        </div>
        <div class="col">
          <div id="yes-drop" class="drag-drop"> Church</div>
        </div>
        <div class="col">
          <div id="yes-drop" class="drag-drop"> Visit</div>
        </div>
      </div>  
    </div>
    <div class="top-buffer">
      <div class="fakedropzone">
        <div class ="row">
          <div class="col">
            <h3>Risk scale</h3>
          </div>
        </div>
        <div style="height:75%", class="row">
          <div id="lowest" class="dropzone smallerbox"></div>
          <div id="low" class="dropzone smallerbox"></div>
          <div id="medium" class="dropzone smallerbox"></div>
          <div id="high" class="dropzone smallerbox"></div>
          <div id="highest" class="dropzone smallerbox"></div>
        </div>
        
        <div class="row">
          <hr id="xline">
        </div>
        <div class="row axis-buffer">
          <div class="col-md-2">Low Risk</div>
          <div class="col-md-2 ml-auto">Medium Risk</div>
          <div class="col-md-2 ml-auto">High Risk</div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
