<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <header>
  </header>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="title-box">
      <h1> How Risky are these Activities? </h1>
    </div>
    
    <div class="break"></div>

    <div>
      <div id="yes-drop" class="drag-drop gym"> Gym</div>
      <div id="yes-drop" class="drag-drop walk"> Walk</div>
      <div id="yes-drop" class="drag-drop church"> Church</div>
      <div id="yes-drop" class="drag-drop visit"> Visit</div>
      
      <div style="margin-bottom: 5%;"></div>

      <div id="inner-dropzone" class="line-dropzone risk-bucket">
        <p>Risk Scale</p>
        <hr id="xline">

        <div class="xtag" style="text-align: center;">
          <p style="bottom: 0%; width: 500px;">Low Risk</p>          
          <p style="width: 500px;">High Risk</p>
        </div>

      </div>
    </div>

           
    {% endblock %}
  </body>
</html>